
header {
    height: 60px;
    background: pink;
    margin: 0 auto;

}



p {
    text-align: center;
    font-size: 30px;
    padding: 10px 10px 0px 10px;
    margin: 0px;
    font-style: italic;
    height: 0px;
   color: black;
   background: pink;
   font-family: 'Covered By Your Grace', cursive;
   
}

.p2 {
    text-align: center;
    padding-top: 50px;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 20px;

}


b Dropdown Button 
.dropbtn {
   height: 0px;
   font-size: 10px;
   float: left;



}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position:absolute;
    height: 0px;
    font-size: 12px;
    padding: 10px 0px 50px 0px;
    float: left;

    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: black;
    
    font-family: 'Droid Sans Mono', monospace;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: pink}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: pink;

}

button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: black;
    background-color: pink;
    box-sizing: border-box;
    padding: 10px;
    border-width: 2px;
    border-style: double;
    border-color: pink;
    border-image: initial;
    font-size: 12px;
    font-family: 'Droid Sans Mono', monospace;
}

form {
        float: right;
        background: pink;
        padding: 10px;
        font-family: 

    }

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 2px;
    border-width: 0px;
    background: white;
    font-family: 'Droid Sans Mono', monospace;
  
}


.second {
    padding: 15px;
}

.third {
    
   float: left;
   width: 25%;
   margin-right: 5%;
   margin-bottom: 0.5em;
   
}

.fourth {
    float: left;
   max-width: 25%;
   margin-right: 5%;
   margin-bottom: 0.5em;

   
}

.fifth {
    
    float: left;
   width: 25%;
   margin-right: 5%;
   margin-bottom: 0.5em;
   
}





